[2019-11-02 23:46] jasperblues opened #1 "Add hljs to the code samples on website"

[2019-11-02 23:47] jasperblues opened #2 "Multi database support"
Support distributed transactions across multiple registered databases.

Allow databases to be registered on bootstrap or dynamically.

[2019-11-02 23:48] jasperblues opened #3 "Transaction decorator should support optional named connection parameter"

[2019-11-03 21:33] #1 closed

[2019-11-03 23:11] jasperblues opened #4 "Allow standard SQL queries on AgensGraph"
This can be used for example to pipe data from Postgres to graph db. Very simple to implement - just modify the method that maps parameters for a given platform.

[2019-11-03 23:12] jasperblues opened #5 "Support named parameters."
Comes out-of-box on Neo4j. On Postgres/Agens these need to be faked - transform to ordered params.

[2019-11-03 23:13] jasperblues opened #6 "Fully-fledged implementation of `Cursor<T>` for Neo4j."

[2019-11-04 03:10] jasperblues opened #7 "Support streaming writes, with and without periodic commit"
This will allow, for example to pipe data from a postgres source into a Neo4j sink.

[code]

[2019-11-04 05:52] jasperblues opened #8 "TransactionContextHolder should set a flag to enable @Transactional() decorators."
This means that unless transaction context is enabled transaction decorator will do nothing - prevent impact on unit tests, etc.

[2019-11-07 00:10] jasperblues opened #9 "Support Apache Gremlin with CYPHER"

[2019-11-13 06:45] #4 closed

[2019-11-13 09:32] jasperblues opened #10 "Add Caching Example"

[2019-12-13 07:25] alexgarbarev opened #12 "Turn off logging while unit testing"
Hi.
I'm running unit tests, I was unable to turn off logging.

Here is similar issue: https://github.com/nestjs/nest/issues/3246

I found that for regular run we can do the following:
[code]
but for unit tests, we cannot do so.

Maybe it's worth adding a logger to option to `DrivineModuleOptions` ?

[2019-12-14 18:14] alexgarbarev opened #13 "Graceful shutdown & connections"
I found that we need to close all db connections manually sometimes. Great example is unit tests:

1) In scenario, when we setting up a postgres/agensgraph database before running tests, and then stopping it once all tests are finished, we need to close database connection before stopping the database. Otherwise an error arise: `Connection terminated unexpectedly`

2) even if we are not setting a

[2020-02-23 12:26] jasperblues commented on #13
I can see that it will be useful, bearing in mind that if you use `inTestContext().run` it will remind  you to set a connection pool IDLE_TIMEOUT short enough for Jest to shut down cleanly.

[2020-02-23 12:27] #3 closed

[2020-02-23 12:34] #2 closed

[2020-03-01 13:50] jasperblues commented on #13
Fixed in Drivine 1.1.0

[2020-03-01 13:50] #13 closed

[2020-03-01 13:50] jasperblues commented on #8
Fixed in 1.1.0

[2020-03-01 13:50] #8 closed

[2020-03-13 01:13] jasperblues opened #15 "Not working with Neo4j 4"
https://twitter.com/marioammonteiro/status/1238248639962775555?s=20

[code]

[2020-03-13 13:28] jasperblues commented on #15
Fixed in 1.1.6

[2020-03-13 13:28] #15 closed

[2020-03-14 04:56] jasperblues commented on #12
Verified that drivine correctly honors log_level.

[2020-03-14 05:03] jasperblues opened #16 "Add bookmarks support for Neo4j"

[2020-05-02 13:40] grizzly-monkey opened #18 "[How to] : Use this with aws lambda"
I am pretty new to graph db and node ... so might be silly question.
However would be great how I can use this with aws lambdas.
Do I need nestjs to work with  drivine  ?
Is it possible to publish a sample aws lambda with drivine ?

[2020-05-02 13:53] xv-jasper-b commented on #18
Don't necessarily need NestJS, however:

* As yet there isn't an example of using without NestJS.
* Some features are NestJS specific.
* Dependencies haven't been split into separate npms - at the moment, the main one will pull in NestJS, at the moment, even if it is not used.

[2020-05-02 13:54] jasperblues commented on #18
Don't necessarily need NestJS, however:

* As yet there isn't an example of using without NestJS.
* Some features are NestJS specific.
* Dependencies haven't been split into separate npms - at the moment, the main one will pull in NestJS, at the moment, even if it is not used.

[2020-05-02 14:29] grizzly-monkey commented on #18
Thanks @jasperblues  ... do you plan to package deps accordingly in near future ? I am trying one to build for aws hope it works out . :)

[2020-05-02 22:54] jasperblues commented on #18
I could do it when time permits, however have you thought about using NestJS from Lambda?

https://github.com/rdlabo/serverless-nestjs

[2020-05-03 09:08] grizzly-monkey commented on #18
I read that however i feel its an over head..  most of the things are taken care by API Gw.. and the package size gets added.

[2020-05-04 20:18] grizzly-monkey commented on #18
@jasperblues  I am trying to get the Drivine running in aws lambda without nestjs.

For that have using a global function like this.
I am not so good with node world and learning as I age... so forgive for my grave mistakes in case.

[code]

[code]

This has 2 issues which i am not able to solve
1) the class-transformer is not able to map the values returns me always a null object.
<img width="124

[2020-05-04 22:27] jasperblues commented on #18
Let's solve the 2nd problem first. Transactions need to be called in a Drivine context. You can do this manually or set up a middleware. Here's the NestJS middleware:

[code]

[2020-05-05 06:14] grizzly-monkey commented on #18
Yes if this is what I did in first stamement.
inDrivineContext().run(async () => {
        DbRegistry.buildOrResolveFromEnv();
    });

this works for me but only once next time i hit the api again. it gives me the error.

[2020-05-05 06:16] jasperblues commented on #18
You run your queries in context, not the setting up of drivine.

The middleware above means that any endpoint invocation is already in context.

Need to set up the equivalent for AWS.

[2020-05-05 08:44] grizzly-monkey commented on #18
ok while i figure out the way for this in AWS ... can you help me with the data to class issue ?

[2020-05-05 11:14] jasperblues commented on #18
What happens when you use `NonTransactionalPersistenceManager` ? Can you log the output without a mapper? Let's see if it is something compatible for mapping.

[2020-05-05 15:15] grizzly-monkey commented on #18
No luck with NonTxPresistMgr

output of query before mapQueryResult
[code]

Output for   const results = this.mapToNative(records); before
plainToClass(spec.transformType, results);
[code]

I think the  this.mapToNative(records) should return only

[code]

My Tenant class
[code]

[2020-05-06 01:02] jasperblues commented on #18
If it was me I would call JSON.strinfigy on the result, and then create a unit test that class plainToClass on that - to debug the mapping.

[2020-05-06 07:59] grizzly-monkey commented on #18
Yes that what i did  called JSON.strinfigy  on result, i could understand that in current code you are mapping all the properties against the lable/key due to which the plainToClass is not working.
When i removed the key it started working.

I was trying to run the test cases however they are not working on my laptop not sure why. the change i made was
[code]
to

[code]

[2020-05-07 01:24] jasperblues commented on #18
You should not need to change that.

[2020-05-07 13:59] grizzly-monkey commented on #18
What do you suggest how should we fix it ?

[2020-05-07 14:05] jasperblues commented on #18
Seems like there are two issues:

* New to learning how Drivine works.
* Converting to AWS Lambda, despite there being no sample/howto for this yet.

Are you able to submit a failing test case using standard drivine (with NestJS)  ? Or if it works on standard setup, it is clear the problem is in the AWS assembly.

[2020-05-07 14:45] grizzly-monkey commented on #18
I feel the query is not working which i have shown below is a simple query.
Not sure if it changes something specific to AWS / Nest.

[code]

[2020-05-12 08:20] xv-jasper-b commented on #18
Can you try:

[code]

[2020-05-12 09:48] myflowpl commented on #12
@jasperblues "Verified that drivine correctly honors log_level" what does it mean ?
how we should turn of logging for tests vs production vs development ?
how you doing it in your application?

[2020-05-12 09:53] jasperblues commented on #12
https://docs.nestjs.com/techniques/logger

^-- Just using NestJS facilities @myflowpl for test vs production and other logging concerns @myflowpl. I showed @alexgarbarev and I believe it Is working well for him now too.

[2020-05-12 10:21] alexgarbarev commented on #12
For tests, I'm using EmptyLogger
[code]
Then in test:
[code]

[2020-05-12 10:27] myflowpl commented on #12
@jasperblues I'v tried it all

Nest recommends to use Dependency Injection for injecting the  logger, in order to overwrite it in unit tests, but Drivine is not using the DI for it:

https://github.com/liberation-data/drivine/blob/master/src/logger/StatementLogger.ts
[code]
Nest docs recomends something like this:

[code]
That's why I can't disable it for tests

I'v tried the static method to disa

[2020-05-12 10:50] myflowpl commented on #12
ok, it looks like `Drivine` should have `@nestjs/common` and `@nestjs/core` as `peerDependencies`

now it is placed in `dependencies`:

[code]

so if you use divine in project where you have the nestjs version 6,  then the static method will work

in my case I'm using nestjs version 7, so static method `Logger.overrideLogger(['error'])` will not work, be course drivine and my project will receive

[2020-05-13 00:47] xv-jasper-b commented on #12
Up until now NestJS 6, but I prefer to stay on the latest versions, and recommend that in general.

If we set it up so that it is easy for all users that is preference.

Second preference is to make it easy/default for 7 and possible for 6.

Do you have a suggestion?

[2020-05-13 00:48] jasperblues commented on #12
Up until now NestJS 6, but I prefer to stay on the latest versions, and recommend that in general.

If we set it up so that it is easy for all users that is preference.

Second preference is to make it easy/default for 7 and possible for 6.

Do you have a suggestion?

[2020-05-13 10:44] myflowpl commented on #12
@jasperblues  yes, quickest fix would be to move the `nestjs` inside `package.json`  from `dependencies` section to `peerDependencies` section.

Even without updating the nest version to 7, but I recommend to update the nest version to latest and run all the tests to see if it's working

In this case, all projects using v6 will work with no problems

and all projects using v7 will also work, but o

[2020-05-13 10:51] jasperblues commented on #12
Alright, let's do that. Will do asap.

Or if you're so inclined, feel free to send a PR!

[2020-05-13 11:01] myflowpl commented on #12
@jasperblues yes, I can do PR for this one, and I also found some other issues so I'll add them and if possible also do PR.

I'll do it in next 2 days, while I'm developing my app i'll also test the solution.

May be you can reopen this issue or should I post new one ?

[2020-05-13 11:23] jasperblues commented on #12
Thank you Piotr!

[2020-05-14 09:17] jasperblues commented on #18
Can you try:

[code]

I forgot to mention that with drivine's performance goals, we pluck what we like from the results.

_(I also forgot that it works like this, as I was working on something completely different for 10+ weeks)_

[2020-05-14 10:43] grizzly-monkey commented on #18
Hey @jasperblues thanks , I will try this and let you ASAP.

[2020-05-14 10:47] jasperblues commented on #18
It will surely work. Sorry that this wasn't obvious to me earlier (it should have been) - I got a bit sidetracked in that we were also converting for NestJS-less and Lambda.

We can also easily support mapping without having to push the results into a JS object compatible structure in the query. Just will require a few considerations.

[2020-05-14 10:49] jasperblues commented on #12
@myflowpl Btw, as you're among the first contributors, along with Khoak, Aleksey and Jeet, you're welcome to be featured on the website. If you'd like that pls send photo and few sentence bio to jasper@liberation-data.com

[2020-05-14 13:14] myflowpl commented on #12
@jasperblues thanks Jasper, that is very nice of you, lets do that after my PR's will be merged ;)

I'm just migrating from OrientDB to Neo4j, and Drivine draw my attention while I was looking for solution in Node.js, so far it's so cool, and only found minor bugs.

Today I'm trying to do my first deployment do testing servers with Neo4j+drivine, and hope to have time tomorrow to do some work on d

[2020-05-18 16:27] myflowpl opened #19 "Use index.ts to export public API"
It's common practice to use one `index.ts` file to re-export the public API of the libraries, so we can hide inner structure of the files from the outside world.

so instead of
[code]
we will have this
[code]

Is there any reason Drivine is not doing this ?

[2020-05-18 23:24] jasperblues commented on #19
The only reason is we haven't set it up yet, but arguably we should have when we released official 1.x.x stream.

[2020-05-19 01:32] jasperblues opened #20 "freshen dependencies"
Some dependencies are stale and giving warnings.

[2020-05-20 09:23] #12 closed

[2020-05-21 04:26] #20 closed

[2020-05-21 04:26] #19 closed

[2020-05-25 14:20] myflowpl opened #24 "Errors thrown from assert() are not readable in tests"
Errors from assert() function are not helpful in stack trace when testing with jest
[code]
In tests doesn't say what happened
[code]

We should always use custom errors like we do here:

[code]

[2020-05-25 20:12] myflowpl opened #25 "Notes not created when testing with transaction rollback: true"
If you try to create node and run your test with automatic rollback, the nodes are not created and there is no errors

[code]

Just created PR with tests in `HealthRepository.spec.ts` to illustrate the problem
[code]

This was working with `drivine@1.1.6` commit `06cf4d5 Update Neo4j driver to support v4`

and the bug was introduced with commit `Use neo4j connection scheme, rather than bolt.` or m

[2020-05-26 00:04] jasperblues commented on #25
Thanks for reporting @myflowpl. It should be fixed in Drivine 1.2.1.

I would appreciate if you could verify, so that the issue can be closed.

[2020-05-26 04:49] myflowpl commented on #25
@jasperblues It's working, thanks for quick fix 😃

[2020-05-26 04:49] #25 closed

[2020-05-26 06:26] jasperblues commented on #25
You're welcome. Thanks for choosing (and contributing to) Drivine.

[2020-05-26 23:13] jasperblues opened #28 "Remove path alias style imports"
I personally like these, however folks have been puzzled by how they work - can be a distraction for first time users.

[2020-05-30 00:05] nartc opened #29 "Remove hard import dependency from class-transformer"
Currently, `drivine` lists `class-transformer` as `peerDependencies`. However, https://github.com/liberation-data/drivine/blob/master/src/query/QuerySpecification.ts#L1 uses a hard-import from `class-transformer` making `class-transformer` a required dependency.

[2020-05-30 14:14] #18 closed

[2020-05-30 23:53] jasperblues commented on #29
Hey Chau, thanks a lot for reporting. Fixed and published in v1.2.3 - I created a local mirror of the simple type that we need from class-transformer, that way we can leave it as a peer dependency.

Closing without waiting for your verification as this is 99.9% likely to be resolved.

[2020-05-30 23:53] #29 closed

[2020-05-31 00:00] jasperblues opened #30 "Requires AgensGraph driver to be installed"
Requires AgensGraph driver to be installed, even if only using Neo4j. And vice versa.

[2020-05-31 00:54] jasperblues commented on #28
Fixed in 1.2.4

[2020-05-31 00:54] #28 closed

[2020-05-31 01:01] jasperblues opened #31 "Use `nests-style-filenames.ts` rather than `CamelCaseNames.ts`"
Use `nests-style-filenames.ts` rather than `CamelCaseNames.ts`

[2020-05-31 01:03] jasperblues commented on #31
@nartc @alexgarbarev What do you think of the above? @myflowpl is keen on it.

[2020-05-31 01:04] jasperblues commented on #31
Also request input from @koakh

[2020-05-31 01:26] jasperblues opened #32 "example of using without NestJS"

[2020-05-31 11:36] jasperblues opened #33 "dgraph support"

[2020-05-31 13:20] nartc opened #34 "NestJS GraphQL like for discovering Cypher files"
https://docs.nestjs.com/graphql/quick-start#schema-first

Currently, new NestJS apps that are created by the CLI uses Webpack under the hood to build and run the application even in dev mode (off of `dist` folder). Hence, the current approach of using **directory path** for `@InjectCypher()` doesn't work unless users copy the `.cypher` files manually (or alter NestCLI webpack config).

Utilizing a

[2020-05-31 13:20] nartc commented on #29
Thanks @jasperblues . It worked.

[2020-06-02 06:31] jasperblues opened #35 "Async Hooks leak memory when used with Jest"
Not a problem in production, since we have one namespace for the lifecycle of the app, but excessive memory consumed for integration tests:

From @alexgarbarev:

It looks pretty clear, but bare minimal. Requires some code in order to store more than "pseudo thread id"

[2020-06-02 14:08] alexgarbarev commented on #35
Some new insides, corrections:

1. I was not correct when said it takes 10mb. Plain async_hook takes only 2mb. If you try to store something in namespace, that won't be freed, so you can waste 10mb or more.

2. Speaking of `AsyncLocalStorage` I found that node v13 and v14 is not LTS yet, and many packages are not updated for these versions. It's not ready for production apps yet (and my app doesn'

[2020-06-02 14:32] alexgarbarev opened #36 "neo4j-driver required even for postgres/agensgraph users"
I'm running app using Postgres database, and once dependencies moved to peer dependencies, my app won't start until I install `neo4j-driver` manually to my app.

Is it possible to import neo4j related modules, only if `neo4j-driver` installed?

[code]

[2020-06-02 18:16] jasperblues commented on #36
This is a duplicate of #30

[2020-06-02 18:17] alexgarbarev commented on #36
oops, that's right..

[2020-06-02 18:17] #36 closed

[2020-06-03 03:25] #35 closed

[2020-06-04 09:59] jasperblues opened #38 "Add sample of mapping graph structure using pattern comprehension."

[2020-06-07 02:57] jasperblues opened #39 "Cypher and SQL injections load platform specific version, if exists."

[2020-06-07 04:40] jasperblues opened #40 "Bind parameter on QuerySpecification should accept varargs as well as array"

[2020-06-07 05:53] jasperblues opened #41 "Transform should accept a list of varargs for each column."

[2020-06-07 06:54] jasperblues commented on #40
When named args is implemented a non-array arg will signify named params. Therefore leave as is.

[2020-06-07 06:54] #40 closed

[2020-06-07 07:14] jasperblues opened #42 "Implement Drivine logger."
Pre-requisiste to split NestJS into add-on for #32

[2020-06-07 07:14] jasperblues commented on #38
Fixed in 2.0.1

[2020-06-07 07:14] #38 closed

[2020-06-07 07:58] jasperblues commented on #42
Fixed in 2439f27ea8ba8a2a8121dcc66232bcf364735d1d

[2020-06-07 07:59] jasperblues opened #43 "RunWithDrivine config params should be flattened."

[2020-06-07 10:02] jasperblues commented on #43
Fixed in 91a54331988238735fb5e7e723e4d58cf714a2a7

[2020-06-07 10:02] #43 closed

[2020-06-07 10:02] #42 closed

[2020-06-08 08:08] jasperblues commented on #34
https://drivine.org/guide/#/injection-decorators

^-- In the meantime I have put a workaround, described above.

[2020-06-08 08:42] jasperblues opened #44 "It should be possible to use map and transform together. Map goes first."
Relates to #41

[2020-06-08 12:31] jasperblues opened #45 "AgensGraphResultMapper is missing mapper to extract edge (relationship) properties"
Test query: ```MATCH (people:Person)-[relatedTo]-(:Movie {title: "Cloud Atlas"}) RETURN people.name, Type(relatedTo), relatedTo```

[2020-06-08 14:13] nartc commented on #34
I will give it a test as soon as I have some free time either today or tomorrow. Thanks!

[2020-06-08 15:06] myflowpl opened #46 "Cannot find module '@liberation-data/agensgraph/lib'"
lets make `@liberation-data/agensgraph` optional if you use neo4j, now i have error `Cannot find module '@liberation-data/agensgraph/lib' from '../../../../node_modules/@liberation-data/drivine/connection/AgensGraphConnectionProvider.js'` and I'm forced to install it

[2020-06-09 00:19] jasperblues commented on #46
This is a duplicate of #30

[2020-06-09 11:56] myflowpl commented on #46
ah, sorry, I was in a rush and didn't check... we don't need 2 issues so I'll close this one

[2020-06-09 11:56] #46 closed

[2020-06-09 12:06] myflowpl opened #47 "PersistenceManager:default can't be resolved"
PersistenceManager:default can't be resolved if you don't use @InjectPersistenceManager() before DrivineModule.withOptions()

It was working be course we were importing Repositories with @InjectPersistenceManager() decorator, but if you run DrivineModule.withOptions() before importing the Repository, the default provider will be not defined

@jasperblues I'm working on the PR with e2e tests to ill

[2020-06-09 12:08] jasperblues commented on #46
It was actually the 3rd one, Aleksey also logged it :)

Yep, let's put implementation suggestions on the remaining open one.

[2020-06-09 13:05] #47 closed

[2020-06-09 17:24] myflowpl commented on #34
It looks like this one is related with #47 and has the same problem

#47 was easy to fix, but injecting cypher files is different story and will require to have breaking changes

and as @nartc  suggested, nestjs/graphql approach will be probably the best one to adopt here

[2020-06-09 17:35] myflowpl commented on #34
@jasperblues  Do we have to use DI for this ?

Lets change the `CypherStatement` interface:

[code]

then usage will be:

[code]

and then let the CypherStatement load the file and may be cache it

[2020-06-09 22:35] jasperblues commented on #34
That looks good. Another feature that I was considering is #39, which is to load a platform specific version, if it exists, for example `@CypherStatement('./routesBetween')`

* If the current persistence manager is for a Neo4j connection and `routesBetween-NEO4J.cypher` exists, 'inject' that.
* Otherwise load `routesBetween.cypher` generic version.

I hadn't worked out exactly how to do it yet. Bu

[2020-06-10 08:44] myflowpl opened #49 "Drivine @Transactional() decorator breaks @UsePipes(new ValidationPipe)"
Drivine @Transactional() decorator breaks Nest ValidationPipe if used with @UsePies()

[code]

It will work if you use it on the method param like:

[code]

[2020-06-10 08:46] jasperblues commented on #49
Workaround: Change the order that the decorators are applied.

[2020-06-13 01:22] jasperblues opened #50 "CI Builds"

[2020-06-13 05:09] jasperblues commented on #45
Fixed in 2.0.3

[2020-06-13 05:09] #45 closed

[2020-06-13 05:10] jasperblues commented on #44
Fixed in 2.0.3

[2020-06-13 05:10] #44 closed

[2020-06-13 12:07] jasperblues opened #51 "RedisGraph support"

[2020-06-17 22:44] jasperblues opened #52 "Links to API docs on website are broken"

[2020-06-20 09:51] jasperblues commented on #5
Fixed in 2.0.6

[2020-06-20 09:51] #5 closed

[2020-06-24 23:52] jasperblues commented on #52
Fixed.

[2020-06-24 23:52] #52 closed

[2020-06-25 09:15] jasperblues opened #53 "QuerySpecification post processors"
**Currently:**

`QuerySpecification` supports `map` and `transform` and only in that order.

**After:**

[code]

* Post processors run in the order they're added
* Add reduce, filter, etc from Array.

[2020-08-18 13:03] Quadriphobs1 opened #56 "Why is it important to add @liberation-data/agensgraph is I am using neo4j"

[2020-08-18 22:17] xv-jasper-b commented on #56
Duplicate of #30

Please follow this issue @Quadriphobs1. Contributions welcome.

[2020-08-18 22:18] jasperblues commented on #56
Duplicate of #30

Please follow this issue @Quadriphobs1. Contributions welcome.

[2020-08-18 22:18] #56 closed

[2020-08-18 22:29] Quadriphobs1 commented on #56
I have actually switched over to using bride since it's an important part of my day... But maybe I'll take a look into it at a leisure time the API for this is actually better than neode for me

[2020-08-18 22:34] jasperblues commented on #56
You are very welcome to do that. Thank you @Quadriphobs1

[2020-08-29 19:19] joeykilpatrick opened #57 "How to return IDs and Labels?"
Consider the following query:
[code]
There seems to be no way to get the ID or list of labels for each of the Movie nodes that the query will return. Instead, only the properties on the node can be retrieved. The following snippet of code is the relevant part of drivine that does this mapping:
[code]
Perhaps it would be better to return the whole `neo4j.types.Node` instead of just the properties?

[2020-08-29 20:56] jasperblues commented on #57
Hi @joeykilpatrick Thanks for reporting.

Drivine has a default result mapper. Given the goal of creating a library that supports building graph-powered REST APIs and similar, the rationale  is to make 80% of cases as simple as possible and 20% possible.

It is possible to do what you would like. Here are some options:

## Return the Id and Label Properties from Query:

[code]

## Plug in Your Own

[2020-09-06 06:46] jasperblues opened #59 "[AgensGraph] Can't bind array of strings to query parameter"
This will work:

[code]

This will not:

[code]

[2020-09-06 10:52] #57 closed

[2020-09-06 10:54] jasperblues commented on #57
Closed for now @joeykilpatrick. Let me know if/when you would like to plug in a custom mapper, and we can help out.

[2020-09-06 13:35] jasperblues commented on #53
Implemented in 2.0.17

[2020-09-06 13:35] #53 closed

[2020-09-13 04:00] jasperblues commented on #39
Implemented in e5c2671c4d7cb0360f4d422ad2dcc0a199e77c26

[2020-09-13 04:00] #39 closed

[2020-10-29 09:28] anrolmar opened #61 "Use with Neo4j version <= 4.0.0"
Hi. I'm trying to use drivine with neo4j 3.8.X and when I'm trying to access the database, I get the next error:

`[ WARN  ] [2020-10-29T09:27:07.094Z] [Neo4jConnection] Closing session with error: Error: Driver is connected to the database that does not support multiple databases. Please upgrade to neo4j 4.0.0 or later in order to use this functionality`

Do you know if there is an option in the

[2020-10-29 10:54] jasperblues commented on #61
Are you bootstrapping from a `.env` file like this?

[code]

It should work if you remove the `DATABASE_NAME` property, so that it is:

[code]
DATABASE_TYPE=NEO4J
DATABASE_USER='neo4j'
DATABASE_PASSWORD='h4ckM3'
DATABASE_HOST='localhost'
DATABASE_PORT=7687
[code]

[2020-10-29 13:49] anrolmar commented on #61
It works.

Thank you, very much

[2020-10-29 13:51] jasperblues commented on #61
You are welcome @anrolmar !

[2020-10-29 13:51] #61 closed

[2020-10-29 19:44] ElePhontitis commented on #5
@jasperblues maybe it would be good to mention the different types of parameters (ordered and named) in the documentation. The cyphers in the docs are often injected and remain hidden to the reader. For example I was initially trying to bind `{name: $name}` with `.bind([dto.name])` and had to check the example repo to find out that `bind({name: dto.name})` was the right way.

[2020-10-29 22:13] jasperblues commented on #5
Thank you for the suggestion @ElePhontitis, it is good to know.

There is a lot of documentation required, and I'm juggling doing that between new features (current one in flight is RedisGraph support) and client work.

Therefore, I will happily take a pull request, no matter how sparse, that documents your discoveries for others. Contributors are (welcome to be) featured on the website.

The guid

[2020-11-04 10:16] anrolmar opened #62 ".cypher files missing after transpilation"
After the build step, there are no .cypher files in the dist directory. That is because of `tsc` behaviour to only include ts/js files. How did you manage to get it to work?

[code]

[2020-11-04 10:31] jasperblues commented on #62
Please follow #34 @anrolmar. Meanwhile, here is a [work-around](https://github.com/liberation-data/drivine-inspiration/issues/8#issuecomment-717594694).

## Workaround

I will provide an official solution soon, in the meantime can you please write your queries inline (in the code)? For example:

[code]

Alternatively, you might modify your build/watch script to copy those files over. If using watc

[2020-11-04 10:31] #62 closed

[2020-11-04 10:32] jasperblues commented on #34
## Workaround

I will provide an official solution soon, in the meantime can you please write your queries inline (in the code)? For example:

[code]

Alternatively, you might modify your build/watch script to copy those files over. If using watch it could be a bit tricky, but might look something like:

*Package.json:*
[code]

. . where `copyCypherFiles.sh` is an exercise for the reader at this p

[2020-11-04 10:38] anrolmar commented on #62
Thank you very much. But I think it would be a great feature to include.

[2020-11-04 10:42] jasperblues commented on #62
Yes @anrolmar it is high priority. Features most asked for (not formally measured):

#34 : This issue.
#32 : Clear guides to use without Nest JS. (and NestJS pulled in as optional npm addon).
#36 : Don't pull in other platform's driver.

Currently working on RedisGraph Support, in between a lot of client work. Will happily take PRs, documentation or any other help large or small (including logging

[2020-11-11 13:15] phyllisstein commented on #34
You can hammer together a Webpack-idiomatic workaround with a small config tweak and a hacky custom decorator.

[code]

[code]

[code]

[2020-11-12 08:27] jasperblues commented on #34
@phyllisstein I would happily take a pull request.

And if you're willing I feature contributors on the website and in the readme.

[2020-11-12 23:44] phyllisstein commented on #34
Absolutely! Thanks for the nudge—it probably wouldn't have occurred to me 🙃 . The glitch with relative paths is worth at least a little more attention. But I'll definitely kick a PR your way if I can fix it.

[2020-11-13 00:03] jasperblues commented on #34
Even if we can reduce the number of folks needing to use a work-around that will add value, and it can be improved incrementally.

[2020-12-13 20:05] Vincent-Alexandrine commented on #47
Hey,

I'm currently facing kinda the same issue, but with a slightly different log

[code]

It refers to the `PersistenceManagerFactory` when I'm not directly usnig it.

I'm trying to have nest, drivine and graphql running together, but when starting the app, it logs this error. (Afterward, I'll have some "service" files, but they does corresponds to the resolvers files like in the `drivine-insipr

[2020-12-13 22:25] jasperblues commented on #47
Hello @Vincent-Alexandrine.

Can you confirm once more that it was Drivine `2.1.3` that got installed for you?

According to the error message, NestJS can't find `DatabaseRegistry`, which is to be injected into `PersistenceManagerFactory` (the thing that emits a `PersistenceManager` for a given database config).

But this `DatabaseRegistry` is configured to be a NestJS component on startup. Look a

[2020-12-17 17:03] Vincent-Alexandrine commented on #47
Hey @jasperblues ,

So I tried a couple of stuffs:
- remove all `./node_modules` and `yarn.lock` then reinstall, I'm still having the error
- I created a new nest repo with `nest new` then installed everything with npm. Some modules haven't been installed: `cli-color`, `class-transformer`. Then I have the same error `Nest can't resolve dependencies of the PersistenceManagerFactory (?, TransactionC

[2020-12-17 21:35] jasperblues commented on #47
Wild guess based on past experience:

I suspect it might be the NestJS version. Can you try installing exactly the same version of Nest that the sample app uses?

If this is it - great, use that for now, while I find a fix for all versions.

[2020-12-21 17:23] Vincent-Alexandrine commented on #47
I changed the nest version to the one in the drivine-inspiration (@nestjs/core, @nestjs/common, @nestjs/cli to ^7.4.4), but I'm still having the issue.

Also I don't know if it could be related, but the yarn install fails to add `@liberation-data/agensgraph` .

[2020-12-21 22:42] jasperblues commented on #47
Are you able to (privately) send the code or a sample app that reproduces the problem?

[2021-01-13 03:55] phyllisstein opened #64 "Working with relations."
👋 Hi there. I've been playing with Drivine as a candidate for integrating a NestJS app with Neo4j. The design strikes me as interesting, but I'm having trouble working out how relations work. I've used the Java OGM through Scala in the past, and [this example](https://neo4j.com/developer/neo4j-ogm/#ogm-code-example) strikes me as very intuitive. But I'm not sure how it would map to this architectu

[2021-01-13 04:03] jasperblues commented on #64
Hi @phyllisstein

Drivine is not an OGM in the traditional sense. I explain why not on https://drivine.org

The features that it provides:

* Fast & easy way to create Repositories (design pattern) and integrate those into services
* Declarative transactions (like with Spring Data Neo4j, etc).
* Streaming

There's a sample app here: https://github.com/liberation-data/drivine-inspiration and it sho

[2021-01-15 21:40] #64 closed

[2021-01-16 05:38] phyllisstein commented on #64
Thank you for talking me through this! I'd gone through the docs, and I thought I understood the pattern better than I did. I couldn't quite work out what `bind` did once the query results came back from the database. It clicked a bit better after reading your response---just a little slow on the uptake. 😬

I did some fiddling with your sample repo to see what this would look like in practice. I'l

[2021-01-25 11:21] mircicd opened #65 "Different batch size for cursors produces different results"
Hello

We like the clean principles by which this library is being developed and have been using it with great joy so far.
I came across some strange behavior when using the cursor implementation though.
According to the sample:
[code]
Consuming the result like this
[code]
I've started to experiment with different batch sizes `X`. In my setup I get back 544 result records, no matter what value I c

[2021-01-28 09:13] phyllisstein commented on #34
I (finally) spent some time digging through Drivine's strategy for injecting Cypher files. It's quite clever, and I'm sure it could be extended for Webpack. I'm curious, though, whether this might be a more reasonable solution, from your perspective and from other users'.

Before:

[code]

After:

[code]

Webpack >=5 users would need to add the following to their config:

[code]

Webpack <5 users

[2021-02-20 05:52] Bastianowicz opened #66 "dependency cls-hooked won't resolve"
hi. since me updating npm to version 7 i am facing serious issues with your dependency of cls-hooked.
in my local dev environment everything is fine but in CI this dependency won't be resolved since npm cannot access it without an ssh key. this is because npm resolves the dependency as `git+ssh://git@github... ` since the update.
so my question is: what is the reason for using the unreleased versi

[2021-03-29 10:17] sashokbg commented on #47
I am having the same problem. Was this issue resolved ?

[2021-03-29 10:22] jasperblues commented on #47
All - this issue is closed.

*If you are having an issue, and you think it is a bug:*

Please post exactly what you have tried, what you expected to happen, what actually happened.

*If you need help learning Drivine:*
Please post under the drivine stack-overflow tag. You will receive an answer just as quickly. The benefit of using StackOverflow for learning is that it is well-indexed by google, s

[2021-04-07 11:48] brvnonascimento opened #68 "Automatically handle saving Date Javascript Object"
Would be nice to have a default behavior for such a common use case following the principle of convention over configuration.

It took me a while to figure out that the problem of my Save repository method were the properties with the Date constructor. I'm using Neo4j for the record.

You rock, Jasper!

[2021-04-07 12:50] brvnonascimento commented on #68
I would happily make a pull request! It would be nice to know which timestamp standard should be the default (ISO 8601?).

[2021-04-07 21:55] jasperblues commented on #68
That's awesome @brvnonascimento, thank you for contributing!

I think 8601 makes the best default. Perhaps we can add support for epoch/unix style and others later.

[2021-04-08 04:34] jasperblues commented on #66
@Bastianowicz So sorry for the slow reply! I didn't see your issue until now.

The forked version of cls-hooked is to fix a number of issues with the base version. There's a pull request, I'll need to check if it is merged yet. If not we can publish a packaged fork that can be pulled (with http) from npm.

On version of node that support it async-local-storage is used in place of cls-hooked.

[2021-04-08 04:40] jasperblues commented on #65
Hi @mircicd Thanks for reporting.

For AgensGraph the streaming API uses true cursors (results will be calculated on the server once, then streamed to the client as fast as the client is able to consume (client controls this process, thus no back-pressure).

For Neo4j, the JavaScript driver only supports push-based so we use skip and limit until it supports pull style. (Again to avoid back-pressur

[2021-04-08 05:45] Bastianowicz commented on #66
I patched it by resolving it explicitly and adding it as my dependency in package.json so I could define what protocol to use. So it doesn't bother me at the moment but it is an unused dependency 😉

[2021-04-08 06:28] jasperblues commented on #66
OK, noted. Thanks @Bastianowicz. Sorry again for the slow reply!

[2021-04-08 06:32] Bastianowicz commented on #66
Don't worry. If I couldn't had fixed it I would've been more annoying 😉

Jasper Blues ***@***.***> schrieb am Do., 8. Apr. 2021, 08:29:

[2021-06-16 18:18] not-Ryan commented on #47
For anyone still having this problem. I was able to fix this by importing modules from `@liberation-data/drivine` instead of nested folders within driving.
I.e.

Before:

[code]

After:
[code]

At least, that is what fixed this for me :blush:

[2021-07-02 08:28] yinonburgansky commented on #34
According to [NestJS Docs](https://docs.nestjs.com/cli/monorepo#assets):
we can copy assets to the dist directory by modifying `nest-cli.json`:
[code]

[2021-07-02 09:21] jasperblues commented on #34
@yinonburgansky so we simply need to update the docs? Does it solve the issue?

[2021-07-02 09:35] yinonburgansky commented on #34
@jasperblues yes, sounds good to me.

[2021-07-22 17:21] nartc commented on #66
Ran into the same issue here :(

[2021-07-22 21:48] jasperblues commented on #66
cls-hooked is usually not needed. A good solution would be to mark it as optional or external and listed in docs.

[2021-07-24 23:47] pfrank13 commented on #47
I just wasted so much time on this, wish I had looked at @not-Ryan's response earlier. My IDE didn't grap the imports from @liberation-data/drivine and that minor difference changed it all. Thanks @not-Ryan that was huge.

[2021-07-29 21:34] jasperblues opened #77 "Neptune Support"
https://aws.amazon.com/blogs/database/announcing-opencypher-for-amazon-neptune-building-better-graph-applications-with-opencypher-and-gremlin-together/

[2021-08-19 13:35] jogura opened #80 "How to enable an encrypted connection in the neo4j driver?"
I'm working with a neo4j instance that requires TLS.  I couldn't find any documentation on how to pass in the encryption information to the neo4j driver from `drivine`.

When attempting to call the database without encryption the following error is returned:

In the `Neo4jConnectionProvider`, current code:
[code]

Modifying it to this seems to work (below is just an example):
[code]
Is there a bet

[2021-08-19 21:28] jasperblues commented on #80
@jogura You were the first who has needed encryption. Sorry that you faced trouble.

Would you like to create a pull request so that it is possible to set up encryption from:

* Code based properties
* ENV properties

If yes, I can merge it straight away, otherwise I can add support via an issue ticket as soon as free time allows.

[2021-08-21 15:34] magrinj opened #81 "PersistenceManager:default not resolved - Nest.js version 8"
Hi there, thanks for this great library, I'm trying to use it in my nest project in a leverage of Neo4j but I've some issues.

First I think the sample needs to be updated as they are importing stuff from nested path instead of `@liberation-data/drivine` and can lead in the same issue as #47.
Same import is described in the user guide: https://drivine.org/guide/#/quick-start

After fixing this iss

[2021-08-21 15:48] magrinj commented on #81
Ok if anyone get there, I've just found the issue.

It's not really well described in the quick-start, but as soon as you are providing a name to `DatabaseRegistry.buildOrResolveFromEnv('NEO4J')`.
You need to reflect this one in the InjectPersistenceManager like that:
`@InjectPersistenceManager('NEO4J')`

[2021-08-21 21:58] jasperblues commented on #81
@magrinj The intention of this feature is to support multiple databases. There can be one nameless/default one, others will be named.

How do you think we can make this clearer in the quick start and docs? What would you have liked to see?

[2021-08-21 22:40] magrinj commented on #81
@jasperblues Thanks for the help, I've understand that this project is database idiomatic.

My problems was following:

**1 - In the quick-start here: https://drivine.org/guide/#/quick-start**

In the first section when you declare the main driving module, a database concatenation name is provided:

[code]

But few lines under, when the repository is created no database name is provided:

[code]

[2021-08-21 22:46] jasperblues commented on #81
Thanks for the clarification @magrinj

Regarding issue #47 I don't think there was a clear specific issue, but it seems to have converged on import style.

I will update the docs in the quickstart and elsewhere. If you come across another place where the are incorrect, it would be great if you could let me know.

We should also have a place to let people know how to set up nest-cli.

[2021-08-21 22:48] jasperblues commented on #81
@magrinj Actually I do not see a place in the quick start where imports are shown. Do you mean in the starter app?

[2021-08-21 22:55] magrinj commented on #81
@jasperblues For the #47 issue it was related for me to the import style as explained above.

This import is shown on the sample-projet. I've put a direct link on the line in my comment above.

For the quick-start the problem was not the import but the fact that a database named `NEO` is provided on initialization, but this name is not reflected in the `InjectPersistenceManager`.

Hope it's more c

[2021-09-02 15:12] jogura commented on #80
A coworker of mine found this nugget in the [neo4j drivers documentation](https://neo4j.com/developer/javascript/#driver-configuration).

Certificate Type | Neo4j Causal Cluster | Neo4j Standalone Server | Direct Connection to Cluster Member
-- | -- | -- | --
Unencrypted | neo4j | neo4j | bolt
Encrypted with Full Certificate | neo4j+s | neo4j+s | bolt+s
Encrypted with Self-Signed Certificate | neo

[2021-09-02 22:29] jasperblues commented on #81
@magrinj Sorry for the slow reply! OK, its clear where the struggle was. Do you think the following would help:

* Comment in the `.env.sample` reminding to update the persistence manager name
* More information in the docs about named DBs
* Both of the above
* Something else?

Do any of the above would provide the path of least confusion? I want folks to have a fun time setting up.

[2021-09-02 22:30] jasperblues commented on #80
@jogura were you able to set this property via Drivine? Off the top of my head I can't recall if I provided that feature?

If yes, great, otherwise we should add it.

[2021-09-03 13:24] jogura commented on #80
@jasperblues yes you can set it in the configuration or programmatically as the documentation shows:

From the [quickstart guide](https://drivine.org/guide/#/quick-start):

Configuration style (using .env):
[code]
or Programmatically:
[code]

[2021-09-03 13:58] magrinj commented on #81
@jasperblues I think that both of the above should help and prevent struggling during setup :)

The imports should be fixed too in the sample and shown in the quick start to avoid confusion.

For the `cypher` files not copied with Nest.JS a troubleshooting section can be added, or a Nest.JS section with the code pasted above.

[2021-10-05 22:48] jasperblues commented on #81
@dominiklippl, Jérémy M described two issues. Which one did you encounter?

[2021-10-07 22:55] jasperblues commented on #81
@dominiklippl Done. You now have write access.

* If you want to change code : Please send a pull request
* To edit the wiki: You can do that directly. Afterwards can you please let me know, so I can review?
* If you want to be acknowledged as a contributor on the website, can you send a photo/short bio to jasper@liberation-data.com

THANK YOU for helping out!

[2021-12-01 16:10] jclappiway opened #83 "Error: SRID expected to be either a number or an Integer object but was: undefined"
Hello,

I'm having an issue on neo4j spatial point with `.transform(XEntity)`

`Error: SRID expected to be either a number or an Integer object but was: undefined`

`DEBUG Point {
srid: Integer { low: 4326, high: 0 },
x: 50.47511,
y: 3.23385,
z: undefined
}`

[2021-12-01 21:53] jasperblues commented on #83
I will need to check history but I _thought_ point type in Neo4j was supported. This might be a regression. In the meantime you can do what this query does: https://github.com/liberation-data/drivine-inspiration/blob/master/src/movies/moviesForActor-NEO4J.cypher

And unpack the point type into an object with two values, eg:

[code]

If you're interested in sending a PR the code where transformatio

[2021-12-01 23:16] #81 closed

[2021-12-01 23:18] jasperblues commented on #51
This is mostly working on the RedisGraph branch - need to support transactions, if that is possible, then wrap up.

[2021-12-01 23:18] #31 closed

[2021-12-02 09:35] jclappiway commented on #83
@jasperblues thanks for the tip on unpack point.
I found the file, this is where the `DEBUG` is coming from.

FYI: the error is gone when I deleted :

` if (val instanceof neo4j.types.Point) {
            return val;
  }
`
But we're not getting a neo4j point 👎

It's a read query.

Thanks again !

[2021-12-02 10:11] jasperblues commented on #83
So the desired behavior would be to get some platform agnostic instance of `Point` ?

[2021-12-26 19:44] dotrunghieu2151 commented on #66
@jasperblues, Could you please mark cls-hooked as an optional dependency ? I intend to run my app inside a docker container so it's not possible for me to manually resolve it in package-lock.json.

[2021-12-26 21:37] jasperblues commented on #66
@dotrunghieu2151 Could you send a PR pls? I will push a new npm build as soon as received.

[2022-01-03 16:42] jclappiway opened #84 "@nestjs/common@">= 6 <= 7" from @liberation-data/drivine@2.2.1"
current version is : @nestjs/common@8.2.4
can you bump this peer dependency to 8.x ?

[2022-01-11 03:02] jasperblues commented on #84
Really swamped with my day-job work and catching after a week out with COVID. Are you able to send a PR @jclappiway ? I will push it up to npm straight away.

[2022-01-11 21:33] #84 closed

[2022-01-11 21:36] jasperblues commented on #83
Did you get this solved @jclappiway ?

[2022-01-11 21:37] jasperblues commented on #84
Here's the new version https://www.npmjs.com/package/@liberation-data/drivine

[2022-01-12 13:53] jclappiway commented on #83
I used your solution : unpacking the point manually.
Do you want me to fix this ?

[2022-01-12 21:47] jasperblues commented on #83
Yes pls, if you are happy to @jclappiway !!

[2022-02-07 11:55] jacosro opened #87 "Upgrade nanoid dependency version to solve moderate vulnerability"
The result of running `npm audit` is the following:

[code]

Update nanoid dependency to 3.2.0 to solve this

[2022-02-09 13:43] maisonarmani commented on #34
@jasperblues  I don't think the doc has been updated for some wierd reason.

[2022-04-24 14:32] Bastianowicz opened #93 "Use Transactions in Tests"
I am wondering is it possible to start a transaction in jest.beforeEach und roll it back in jest.afterEach in end2end tests? I tried some things but don't seem to get it to work. I have a few ideas what might be the matter but maybe you have already tried something like that.

The following aproach does not break the tests but also does not rollback the changes.

[code]

[2022-04-24 19:09] Bastianowicz commented on #93
RTFM! https://docs.nestjs.com/fundamentals/testing
Unfortunately it does not work either. Changes are being applied and persisted in neo4j. Any idea what I could possibly do wrong?

[2022-04-24 23:18] jasperblues commented on #93
Have you tried the sample app @Bastianowicz ?

From memory I don't think you can expect a transaction that's is started in a test to work with HTTP endpoints. (Although you could probably find a way to make it work).

The idea is to integration test your transactional services. Controller should be just a protocol adapter to call your services.

[2022-04-26 14:23] Bastianowicz commented on #93
Using the controller directly did work as expected. Thank you. I think I am leaving the infrastructure layer out here and just test the integration from controller to neo4j. Thanks a lot.

[2022-04-26 14:40] #93 closed

[2022-05-25 10:44] NilsMoller commented on #49
The order of the `@Transactional` decorator is important in other ways too it seems.
Using Nest's default GraphQL implementation, `@Transactional() @Query(...) async someQuery(): Promise<SomeModel>` breaks, but `@Query(...) @Transactional() async someQuery(): Promise<SomeModel>` does not.

[2022-05-25 10:46] NilsMoller commented on #49
The order of the `@Transactional` decorator is important in other ways too it seems.
Using Nest's default GraphQL implementation, `@Transactional() @Query(...) async someQuery(): Promise<SomeModel>` breaks, but `@Query(...) @Transactional() async someQuery(): Promise<SomeModel>` does not.

[2022-05-25 20:23] jasperblues commented on #49
@NilsMoller If you have time and able to submit some usage patterns you have with GraphQL, I would like to provide some guidance for that in the docs.

Meanwhile, for the txn decorator. One solution would be to more tightly integrate with Nest. Originally I created this decorator to not use anything from Nest, so it would be easy to port Drivine to use with eg AWS Lambda. But didn't get time to ta

[2022-05-27 09:00] NilsMoller opened #94 "[Question] Possible to initialize with configuration (or any other injected service) and how are environment variables parsed?"
As far as I can tell, there are two options to initialize Drivine:
1. From environment variables
2. From values set using a fluent API

From this, I get two questions:
1. How are environment variables parsed?
In the docs, it shows the method `DatabaseRegistry.buildOrResolveFromEnv('NEO')`. What is `'NEO'` in this case? Does it *require* a `.env` file, or can it use environment variables as well?

[2022-05-27 09:12] jasperblues commented on #94
This is a mechanism for having multiple database connections and assigning a name. There can be:

* Zero or one "default" connection, with no name. You can inject this with just: `InjectPersistenceManager()`
* Any number of named databases. You can inject this with `InjectPersistenceManager('NAME') where name is, for example, `NEO`

^-- So `NEO` here is the name of the database. With the `.env` st

[2022-05-27 09:12] jasperblues commented on #94
Let me know if I addressed all parts of you question and/or if anything above is not clear.

[2022-05-27 09:33] NilsMoller commented on #94
Thank you for the quick response. I was updating my question as you were typing :)

Indeed it does use env vars. As I mentioned in the updated question, `ConnectionProperties#ConnectionPropertiesFromEnv` uses `process.env` already, so both approaches will work just fine.

Yes, to bootstrap it dynamically. For example, Nest's GraphQL library uses a factory to allow for DI to work, simply by injecti

[2022-05-31 11:17] NilsMoller opened #95 "[Bug] @InjectPersistenceManager not resolved as dependency when other @Inject parameters are present"
# Environment
Node: 16.14.0
Nest: 8.2.1
Drivine: 2.2.2

# Steps to reproduce a Bug
1. Run `nest new test --skip-install`
2. Run `cd ./test` and `npm install @liberation-data/drivine`
3. Import Drivine:
[code]
4. Generate a module and two services: `nest generate module something && nest generate service something && nest generate service something/something2`. Move `something/something2/something2

[2022-05-31 19:45] NilsMoller commented on #95
They are in the same module, both registered as providers. When I remove the `PersistenceManager` from the constructor, it works as normal.

[2022-05-31 19:47] jasperblues commented on #95
Are you able to share code? Doing so can help me get to it faster.

[2022-05-31 20:00] NilsMoller commented on #95
# Folder structure
.
└── src/
    ├── something/
    │   ├── something.module.ts
    │   ├── something.service.ts
    │   └── something2.service.ts
    ├── app.module.ts
    └── main.ts

# Files
[code]
[code]
[code]
[code]
[code]

[2022-05-31 20:23] jasperblues commented on #95
@NilsMoller Thanks! Can you please zip it up and send to jasper@liberation-data.com

[2022-05-31 20:29] NilsMoller commented on #95
Done. Let me know if there is anything else I can do.

[2022-06-03 10:06] NilsMoller opened #96 "[Docs] Show examples of unit testing with Drivine"
It would be great to have some documentation available to show how to *unit* test with Drivine.  The docs show how to perform end2end tests. It does not show how to get the injected `PersistenceManager` from the testing module, provide mock implementations, or spy on its methods.

An option would be to automatically mock the entire Drivine module: `jest.mock("@liberation-data/drivine")`, but this

[2022-06-03 20:40] jasperblues commented on #96
Here's what I do:

* Using Drivine, build repositories that are injected into services. Mock the repositories, to test the services.

* Add more integration tests to test the services with Drivine (hitting the database). Drivine provides a tool to run against real databsase (ie production snapshot) then rollback uncommitted transaction at the end of the test, leaving data in same initial test stat

[2022-06-04 09:40] NilsMoller commented on #96
What would these repositories look like? You would still have to test the repository itself, as it is part of your code base, and you'd end up with the same problem.

[2022-06-04 17:08] jasperblues commented on #96
## Side Note On Naming

They are correctly called [Repositories](https://martinfowler.com/eaaCatalog/repository.html) (an older term is data access object) because this is a well known design pattern, presented in Eric Evans' book Domain Driven Design. They are responsible only for mediating between the database.

### Key Benefits of the pattern are:

* Encapsulate a set of reusable for shunting i

[2022-06-06 11:29] NilsMoller commented on #96
Testing the services isn't the problem. In that case, as you mentioned, you can mock the repository. I want to test the repository itself. For example, to ensure it makes the right database call given a certain input.

[2022-06-06 14:59] jasperblues commented on #96
For repositories its the same approach. They need a `PersistenceManager`, so provide a test double in place of that `PersistenceManager`. There are no special utilities for this, at this time, sorry about that. If you were inclined to think that there should be, you'd be most welcome to fork the repo and add it.

[2022-06-06 15:19] NilsMoller commented on #96
I tried mocking the whole Drivine module, but that results in some strange error about a decorator not being a function where the error points to one of the Drivine imports.
I also tried spying on specifically the `PersistenceManager`, but it is an interface which can't be spied on (as far as I know).
I also can't figure out how to extract the `PersistenceManager` out of the testing module (it's a

[2022-06-06 15:23] NilsMoller commented on #96
With this, you mean actually instantiating the class using `new`? Wouldn't that go outside of Nest's `Test.createTestingModule`?

[2022-06-06 19:52] jasperblues commented on #96
Welcome @NilsMoller !!! Thanks so much for collaborating. If you're using Neo4j, you might also want to check out the GraphQL integration. Shall we close this issue now?

[2022-06-06 21:42] NilsMoller commented on #96
I did see their integration, but wrote it off as it did not fit in the existing solution. I think I will give it a second attempt once I find the time. Thank you again! I will close this now.

[2022-06-06 21:42] #96 closed

[2022-06-06 21:43] jasperblues commented on #96
Yes it depends what you're looking for, but its very cool when it matches.

I plan to add GraphQL features to Drivine in future. (Will work with any cypher compatible graphDB).

[2022-06-08 15:16] NilsMoller opened #97 "[Docs] [Bug] The documentation site does not have a side menu"
Don't know why or how, but the website seems to be doing some funky stuff.
![image](https://user-images.githubusercontent.com/41434155/172653416-f27548ff-d33a-45e0-ac1e-4bb86e37aebf.png)

[2022-06-09 11:12] NilsMoller commented on #97
It seems to be back. No idea what happened. Closing this issue

[2022-06-09 11:12] #97 closed

[2022-06-22 22:01] ItsTarik commented on #95
Hello, I've got the same issue where nest can't find the supposed injected PersistenceManager:
`...Please make sure that the argument PersistenceManager:default at index [0] is available in the XXXModule context`

[2022-07-01 16:45] dmiwell commented on #95
Hi @jasperblues

I was going to update deps and introduce new config options to make it possible to setup pool size per connection. All went well, including tests.

The problem appeared when I tried to use built version with our app.

The problem happens with providing these singletons:
[code]

[code]

I did not locate the problem yet. Will let you know if I'll find why it's the case.

[2022-07-05 09:50] dmiwell commented on #95
@jasperblues I was able to fix the issue. There are 2 PRs. One with fix only and version bump and other with package updates and new connection options for pool configuration. Second PR includes changes from first as well. But second one drops compatibility with vulnerable or deprecated packages.

[2022-08-11 15:17] Bastianowicz commented on #94
I've played around with imports and exports on that as well but couldn't seem to find a working solution.
I have tried to create a custom provider on `DrivineModule` that uses an async factory and injected the configService to that. Unfortunately than the depending modules down the river complain
`Please make sure that the argument PersistenceManager:NEO at index [0] is available`

I am not sure w

[2022-08-11 20:10] jasperblues commented on #94
@Bastianowicz What you can do in the meantime is inject the factory instead, like this:

[code]

[2022-09-23 09:58] avifatal opened #103 "Migrating to agens-graph on my my nestjs app"
Hi,
I have a nestjs app with `redis-graph`.
Now,  Im migrating `redis-graph` to `agens graph`.
I have more then 100 queries, I want to avoid changing the cypher queries as much as possible.
How is that possible to force the driver to return labes, ids, and properties for all the querores? **without** changing all of my touching them?

In `redis-graph` when I return a node I get something like:
[co

[2022-09-23 10:02] jasperblues commented on #103
I'm not quite following your question. But before we get into that, did you know there's a version of Drivine that supports redisgraph?

Its on a branch, because I haven't added transaction support (the Drivine @Transactional() decorator) but you might not need that. I could merge in now with those features throwing an "Not yet supported" error, if it helps?

Now to your question. Do you want to q

[2022-09-23 10:16] avifatal commented on #103
Hi,
Thanks for the very quick answer.
We are leaving `redis-graph`, right now im POCing `agens-graph`.

`match(a:movies {name: 'Spiderman'}) return a` in redisgraph lib will return:
[code]
As far as I remember from yesterday, your library return only the properties. How can I tweak your result to be like the json I put here.

Thanks

[2022-09-23 10:21] jasperblues commented on #103
One way to do it: You can modify you query to something like

[code]

If you want to keep all of your original queries, perhaps you can create a method that transforms the original query into that format?

[2022-09-23 11:01] jasperblues commented on #103
Welcome 👍

[2022-09-23 11:01] #103 closed